
@font-face {
    font-family: "Pangram-ExtraLight";
    src: url("../fonts/Pangram-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Pangram-Light";
    src: url("../fonts/Pangram-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Pangram-Regular";
    src: url("../fonts/Pangram-Regular.ttf") format("truetype");
    font-style: 400;
    font-weight: normal;
}
