@import "reset";
@import "fonts";

html,
body {
  font-family: "Pangram-Regular";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.884);
  max-width: 100%;
}

.purchase {
  padding: 40px 0;
  background-color: #28292E;

  .container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px 15px;

    @media screen and (max-width: 550px) {
      & {
        grid-template-rows: repeat(6, 1fr);
      }
    }

  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;
    min-height: 5.625rem;
    grid-column: 6 span;
    counter-increment: new 1;

    &::before {
      content: "/0" counter(new);
      position: absolute;
      top: 2px;
      right: 5px;
      font-size: 10px;
      font-family: "Pangram-ExtraLight";
    }

    @media screen and (max-width: 550px) {
      & {
        grid-column: 12 span;
      }
    }

    &__image {
      margin: 0 10px;
    }

    &__text {
      font-size: 0.625rem;
      max-width: 80%;
    }
  }

  &-column {
    &__title {
      margin-bottom: 0.19rem;
    }

    &__discription {
      font-family: "Pangram-ExtraLight";
      font-size: 0.655rem;
    }
  }
}
